$Gold_Color:#ffe500;
$Dark_Color:#1a1a1a;
$Gray_Color:#707070;
$White_Color:#f4f4f4;
// $header_Background_Color:$Dark_Color;
// $Box-2_a_background-color:$Gold_Color;
// $Main_P_Color:$Gray_Color;
// $S-1_s_background-color:$White_Color;
// $S_Title_color:$Dark_Color;
// $S_Caption_Color:$Gray_Color;
// $S-1_Title_Color:$Dark_Color;
// $S-1_Caption_Color:$Gray_Color;
// $C-1_Child_2_Color:$Dark_Color;
// $C-1_child_3_Color:$Gray_Color;
// $C-2_P_Color:$Dark_Color;
// $C-1_C-2_Background_Color:$White_Color;
// $Sub_Background_Color:$Gold_Color;
// $S-2_Background_Color:$Dark_Color;
// $Sub-section_Color:$Dark_Color;
// $l-1_Hr_Background-color:$Dark_Color;
// $S-4_Bacground-color:$White_Color;
// $S4_Background-color:$Dark_Color;
// $S4_l_Background-color:$White_Color;
// $S4-Div_Background-color:$Gold_Color;
// $S4_l_p1-Color:$Dark_Color;
// $S4_l_p2-color:$Gray_Color;
// $S-4_p-Background_Color:$Gold_Color;
// $S5_background_Color:$Dark_Color;
// $S5_P-Color:$Gold_Color;
// $S5_P-Border_Color:$Gold_Color;
// $S-5_Child_2_Background_Color:$White_Color;
// $S-5_Child_2_Title_Color:$Dark_Color;
// $S-5_Child_2_Caption_Color:$White_Color;
// $Card_List_Card1_Background_Spam_Div_Color:$Dark_Color;
// $Card_List_Card1_Background_Spam_Div_Background_Color:$Gold_Color;
